# Python
__pycache__/
*.py[cod]

# Entornos virtuales
.venv/
venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Secretos
.env
.env.*
!.env.example

# IDE / OS
.idea/
.vscode/
.DS_Store
